html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

body {
    color: #000000;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-weight: 600;
}

/* style header start */

.header {
    margin-bottom: 150px;
}

.header-bg {
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;

}

.logo__img {
    width: 80px;
    height: 80px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__list-item {
    font-weight: 600;
    padding-right: 20px;
}

.menu__list-item:last-child {
    padding-right: 0;
}

.menu__list-item:hover {
    color: red;
}

/* style header end */

/* style section about start */

.about-box {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* padding-bottom: 76px; */
}

.about {
    margin-bottom: 150px;
}

.about-box__text {
    padding-top: 70px;

}

.about-box__image {
    width: 500px;
    height: 500px;
}

/* style section about end */

/* style section services start */

.services {
    font-variant-numeric: lining-nums;
    margin-bottom: 150px;
}

.services-content {
    max-width: 970px;
    margin: 0 auto;
}

.services__item {
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}

.services__box {
    padding: 33px 40px;
    background-color: #fff;
    max-width: 470px;
    position: relative;
    box-shadow: 0px 0px 15px 10px #ece7e7;
}

.services__box::after,
.services__box::before {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
}

/* different ways to add gold corner */
.services__box::before {
    background-image: url(../images/decor-left.svg);
    top: 19px;
    left: 19px;
}

.services__box::after {
    border-bottom: 2px solid #52575a;
    border-right: 2px solid #52575a;
    right: 19px;
    bottom: 19px;
}

/* different ways to add gold corner */

.services__box-title {
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}

.services__item:nth-child(even) {
    background-position: left;
}

.services__item:nth-child(even) .services__box {
    margin-left: auto;
}

.services__item:nth-child(even) .services__box::before {
    right: 19px;
    left: auto;
    background-image: none;
    border-right: 2px solid #52575a;
    border-top: 2px solid #52575a;
}

.services__item:nth-child(even) .services__box::after {
    left: 19px;
    border-right: none;
    border-left: 2px solid #52575a;
}

.services__images-box {
    padding-top: 73px;
    position: relative;
}

/* styling section services end */

/* styling section map start */

.map {
    margin-bottom: 150px;
}

.map__text {
    padding: 0 100px 30px 100px;
    text-align: center;
}

/* styling section map end */

/* styling slider start */

.container {
    width: 100%;
    height: 100%;
}

.card-container {
    margin: 0;
    height: 100%;
    z-index: 1;
    padding: 15px 30px 30px 30px;
    overflow: hidden;
}

.card {
    width: 550px;
    height: 30%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    transition: transform 400ms;
    opacity: 0.5;
    box-shadow: none;

}

.card-img {
    width: 550px;
    height: 50%;
    border-radius: 8px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-slide-active {
    z-index: 1;
}

.swiper-slide-active .card {
    border-radius: 8px;
    opacity: 1;
    transform: scale(1.5);

}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: #52575a;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    outline: none;
}

.swiper-pagination-bullet-active {
    background-color: #52575a;
}

/* styling slider end */

/* styling footer start */

.footer {
    background-color: #c6cfd4;
}

.footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-logo {
    padding-right: 20px;
}

.footer__contacts {
    font-weight: 600;
    font-variant-numeric: lining-nums;
}

.footer__phone {
    padding-right: 100px;
    padding-top: 25px;
}

.social__media-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    cursor: pointer;
}

.social__media-item {
    padding-right: 8px;
}

.social__media-item:last-child {
    padding-right: 0;
}

.social__media-item img {
    width: 25px;
    height: 25px;
}

.social__media-link--linkedin {
    background-image: url(../images/linkedin.svg);
}

.copyright {
    border-top: 1px solid #bbbaba;
}

.author {
    text-align: center;
    font-size: 12px;
}

/* styling footer end */

@media (max-width: 1000px){
    .services__item {
        padding: 382px 0 70px;
        background-position: top;
        margin-bottom: 0;
    }

    .services__box {
        margin: 0 auto;
    }

    .services__item:nth-child(even) {
        background-position: top;
    }
}

@media (max-width: 700px) {
    .logo__img {
        width: 55px;
        height: 55px;
        margin-left: 25px;
    }

    .menu__btn {
        display: inline-block;
        width: 40px;
        height: 30px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: absolute;
        right: 40px;
        top: 45px;
    }

    .menu__btn::after,
    .menu__btn::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: 2px;
        background-color: #fff;
    }

    .menu__btn::before {
        top: 0;
    }

    .menu__btn::after {
        bottom: 0;
    }

    .menu__btn span {
        display: block;
        height: 2px;
        background-color: #fff;
    }

    .menu__list {
        transform: translateY(-200%);
        display: block;
        background-color: #52575a;
        padding: 10px 0;
        text-align: center;
        transition: all 3s;
        border-radius: 15px;
        /* position: absolute; */
        left: 0;
        right: 0;
    }

    .menu__list.menu__list--active {
        transform: translateY(20%);
    }

    .menu__link {
        padding: 10px;
        display: block;
        text-align: center;
    }
}